{% extends 'base.html.twig' %}

{% block title %}Enregistrer un nouveau vol{% endblock %}

{% block body %}
    <h1 class="my-5">Enregistrer un nouveau vol</h1>

    {{ include('flight/_form.html.twig') }}
{% endblock %}